<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Course List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_list.css' %}">
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <h1 class="company-name">
                    <span>S</span>chool 
                    <span>Management</span> System
                </h1>
            </div>
        </div>
        <div class="links">
            {% if user.profile.user_type == 'administrator' %}
                <a href="{% url 'teacher_list' %}">Teachers</a>
                <a href="{% url 'student_list' %}">Students</a>
                <a href="{% url 'grade_list' %}">Grades</a>
                <a href="{% url 'courses_list' %}">Courses</a>
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% elif user.profile.user_type == 'student' %}
                <a href="{% url 'student_list' %}">Students</a>
                <a href="{% url 'grade_list' %}">Grades</a>
                <a href="{% url 'courses_list' %}">Courses</a>
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% elif user.profile.user_type == 'teacher' %}
                <a href="{% url 'student_list' %}">Students</a>
                <a href="{% url 'grade_list' %}">Grades</a>
                <a href="{% url 'courses_list' %}">Courses</a>
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </header>
    <a href="{% url 'add_courses' %}">Add new course</a>
    <h1>Course List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Lecturer Name</th>
            <th>Actions</th>
        </tr>
        {% for course, teacher in course_teacher %}
         <tr>
            <td>{{ course.name }}</td>
            <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
            <td>
                <a href="{% url 'courses_update' pk=course.pk %}">Update</a>
                <a href="{% url 'delete_courses' pk=course.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %} 
    </table>
    <footer>
        <div class="footer-content">
            <p>Contact us: schoolmanagementsystem@gmail.com </p>
            <p>&copy; 2024 School Management System</p>
        </div>
    </footer>
</body>
</html>
