<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Update Student</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
     <header>
        <div>
            <div class="logo">
                <h1 class="company-name">
                    <span>S</span>chool 
                    <span>Management</span> System
                </h1>
            </div>
        </div>
    </header>
    <div class="container">
        <form method="POST">
            <h2>Update Student</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update Student</button> 📚 <a href="{% url 'student_list' %}">Back to Student List</a>
        </form>
    </div>
    <footer>
        <div class="footer-content">
            <p>Contact us: schoolmanagementsystem@gmail.com </p>
            <p>&copy; 2024 School Management System</p>
        </div>
    </footer>
</body>
</html>
