* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

/* Header Styles */

header {
  background-color: #23aba0;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
  color: #333333;
  text-align: center;
}

p{
  margin: 0;
  color: #78b8ba;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #78b8ba;
  text-align: center;
  width: 60%;
  height: 250px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(52, 156, 156, 0.25);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
}
.container a {
  color: #78bab7;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #78bab8;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.container a:hover {
  color: #78b5ba;
  background-color: rgba(73, 86, 182, 0.2);
}

/* Footer Styles */
.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  background-color:  #2d9288;
  height: 50px;
  position: relative;
  margin-top: 15.5%;
}
.footer-content p{
  margin: 0;
  color: #fff;
  text-align: center;
}