* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    background-color: #f9f9f9;
  }
  
  /* Header Styles */
  
  header {
    background-color: #23aba0;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  .M{
    color: #a76bbd;
    font-size: 50px;
  }
  .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
  }

a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #34dba3;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #29b9a8;
}
/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border-radius: 10px;
}

table, th, td {
    border: 1px solid rgba(37, 194, 168, 0.17);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgb(10, 77, 65);
    color: #fff;
} 

  /* Footer Styles */
  .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    background-color:#23aba0;
    height: 50px;
    margin-top: 5%;
  }
  .footer-content p{
    margin: 0;
  }